body {
    background-color: black;
    color: white;
    font-family: "space";
    background: url(anime.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'space';
    src: url('normal.ttf') format('truetype');
}

.output {
    width: 100%;
}

input[type=text] {
    margin-bottom: 20px;
    border-radius: 4px;
    height: 30px;
    border: 3px solid black;
}

button {
    height: 40px;
    background-color: white;
    border: 3px solid black;
    border-radius: 4px;
}

.credit {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
}

.calculator {
    background-color: black;
    width: 295px;
    height: 310px;
    border-radius: 10px;
}

.item {
    background-color: #f8f9fa;
    color: black;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 85px;
    border-radius: 5px;
    position: relative;
}

.one {
    left: 10px;
    top: 10px;
}

.two {
    left: 105px;
    top: -30px;
}

.three {
    left: 200px;
    top: -70px;
}

.four {
    left: 10px;
    top: -60px;
}

.five {
    left: 105px;
    top: -100px;
}

.six {
    left: 200px;
    top: -140px;
}

.seven {
    left: 10px;
    top: -130px;
}

.eight {
    left: 105px;
    top: -170px;
}

.nine {
    left: 200px;
    top: -210px;
}

.plus {
    left: 10px;
    top: -200px;
}

.divide {
    left: 105px;
    top: -240px;
}

.times {
    left: 200px;
    top: -280px;
}

.minus {
    left: 10px;
    top: -270px;
}

.equals {
    left: 105px;
    top: -310px;
}

.operator {
    background-color: rgb(206, 206, 206);
}

.blue {
    background-color: #4285f4;
    color: white;
    width: 180px;
}

.display {
    background-color: rgb(27, 22, 22);
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.teams {
    background-image: url('teams.png');
    background-position: top left;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: 1000000;
    position: absolute;
    visibility: hidden;
}